.content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;   
}
.doubtpagecontent {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 5px;
    gap: 5px;
    height: 100%;
    background-color: turquoise;
    overflow: hidden;
}
.leftsidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 200px;
    gap: 5px;
    flex-grow: 0;
}
.rightsidebar {
    width: 200px;
    flex-grow: 0;
}
.centresidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-grow: 1;
}