.navbar {
    justify-content: space-between;
}
.signature {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {


}    
@media screen and (max-width: 428px) {
    .appName {
        display: none;
    }
    .buttonBar {
        display: none;
    }
}
