.searchbar {
    border: 0;
    font-weight: 600;
    font-family: Quicksand;
    font-size: 14px;
    background-color: #72A4D2;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
    align-items: center;
    justify-content: flex-start;
    color: black;
    
  }
  .searchIcon {
    position: relative;
    width: 18.25px;
    height: 18.88px;
    flex-shrink: 0;
  }
  .searchbutton,
  .searchtool {
    align-self: stretch;
    /* overflow: hidden; */
    display: flex;
    padding: 5px;
    align-items: center;
  }
  .searchbutton {
    cursor: pointer;
    border: 0;
    background-color: aliceblue;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
  }
  .searchtool {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }
  